.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    align-self: center;
}

.content {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.list {
    padding: 0;
    margin: 0;
    align-self: center;
}

.marked {
    background-color: chartreuse;
}

.totalPrice {
    font-weight: bold;
    font-size: 1.1em;
    align-self: center;
}

.products {
    text-wrap: wrap;
    align-self: center;
}
