*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2em;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: #fff;
  background-image: url(https://code.s3.yandex.net/web-code/images/dotted.svg);
  min-block-size: 100dvb;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body:has(details.css[open]) article.css {
  order: -1;
  box-shadow: 8px 8px 0 #fd24af;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  padding: 0.5em;
  font-weight: bold;
  font-size: 1.5em;
  list-style: none;
  background-color: #80d994;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

summary svg {
  transition: transform 0.3s ease-in-out;
  max-inline-size: 30px;
}

details[open] summary svg {
  transform: scale(-100%);
}

.details-description {
  border-inline: 1px solid #000;
  padding: 2em;
  background-color: #fff;
}

.details-component:last-child .details-description {
  border-block-end: 1px solid #000;
}

.details-description p {
  margin: 0;
}

.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2em;
}

.people {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.card {
  display: flex;
  align-items: flex-start;
  gap: 1em;
  background-color: #6dc1fd;
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  max-inline-size: 200px;
  aspect-ratio: 1 / 1;
}

.card__description {
  padding: 1em;
}

.card__title {
  margin: 0 0 1em;
  font-size: 1.5em;
  text-transform: uppercase;
}

body:has(details.css[open]) article.css {
  order: -1;
  box-shadow: 8px 8px 0 #fd24af;
}

body:has(details.html[open]) article.html {
  order: -1;
  box-shadow: 8px 8px 0 #fd24af;
}

body:has(details.js[open]) article.js {
  order: -1;
  box-shadow: 8px 8px 0 #fd24af;
}

@media (width <= 768px) {
  .content {
    grid-template-columns: 1fr;
  }

  .card {
    flex-direction: column;
  }

  .card__image {
    max-inline-size: 100%;
  }
}
