.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bookSection {
    width: 80%;
    align-self: center;
}

.list {
    width: 100%;
    list-style: none;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    padding: 0;
}

.book {
    width: fit-content;
    border-radius: 10px;
    border-color: chocolate;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 250px;
}

.title {
    margin: 0;
}

.field {
    font-weight: bold;
    font-style: italic;
}

p {
    margin: 0;
}
