body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-size-adjust: 100%;
  background-color: #ffc802;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.members {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-inline-start: 0;
  list-style-type: none;
  max-inline-size: 500px;
  block-size: 100dvb;
}

.members::before {
  content: '← Наведи курсор →';
  position: absolute;
  font-size: 30px;
  transform: translate(-50%, -50%);
  inset-inline-start: 50%;
  inset-block-start: 50%;
}

.members__member {
  position: relative;
  inline-size: 40px;
}

.members__member::before {
  content: '';
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  border-inline-start: 1px solid #000;
  border-inline-end: 1px solid #000;
  background-color: #d9d9d9;
  background-image: repeating-linear-gradient(
    -15deg,
    #000,
    #000 1px,
    transparent 1px,
    transparent 25px
  );
  inline-size: inherit;
  block-size: 100dvb;
}

.yo {
  position: absolute;
  transition-delay: 1s;
  transition-duration: 5s;
  transition-property: inset-block-end;
  inset-inline-start: 50%;
  inset-block-end: 0;
}

.members:hover .yo {
  inset-block-end: calc(100% - 200px);
}

.yo_type_green {
  transition-timing-function: linear;
  transform: translateX(-70%);
}

.yo_type_pink {
  transition-timing-function: ease-in;
  transform: translateX(-30%);
}
