#my-button {
    padding: 10px 20px;
    border-radius: 14px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    font-size: 16px;
    line-height: 24px;
    background-color: #EFF2F6;
}
