.subscribe-form {
  display: grid;
  align-content: center;
  gap: 10px;
  padding: var(--internal-padding, 40px 20px);
  color: var(--subscribe-form-color, #000);
  background-color: var(--subscribe-form-background-color, #feafe8);
  inline-size: 100%;
  container-type: inline-size;
}

.subscribe-form__title {
  margin-block-end: 0.2em;
  font-weight: bold;
  font-size: 31px;
  text-transform: uppercase;
  max-inline-size: 800px;
}

.subscribe-form__input {
  border: 2px solid currentColor;
  padding: 0.5em 1em;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-transform: uppercase;
  background-color: transparent;
  inline-size: 100%;
}

.subscribe-form__button {
  border: 2px solid currentColor;
  padding: 0.5em 1em;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--subscribe-form-button-bg-color, #80d994);
  cursor: pointer;
}

.subscribe-form__label_type_checkbox input {
  accent-color: currentColor;
}

.subscribe-form__button:hover {
  opacity: 0.6;
}

.subscribe-form__agreement-text {
  font-size: 0.8em;
  text-align: center;
}

@container (width >= 500px) {
  .subscribe-form__title {
    grid-column: 1 / 3;
  }
  .subscribe-form__label {
    grid-column: 1;
  }
  .subscribe-form__button {
    grid-column: 2;
  }
  .subscribe-form__agreement-text {
    grid-column: 1 / 3;
  }
}
