@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

body {
  display: grid;
  place-items: center;
  overflow: hidden;
  background-color: #daecf9;
  background-image: url(../assets/images/forest.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  inline-size: 100%;
  block-size: 100vh;
}

.helicopter {
  position: relative;
  transform: translate3d(-200px, -100px, 0);
}

.cockpit {
  position: absolute;
  z-index: 1;
  border-radius: 100px 40px 50px 50px;
  overflow: hidden;
  background-color: #80d994;
  inline-size: 200px;
  block-size: 160px;
}

.cockpit::after {
  content: "";
  position: absolute;
  inset: -40px 0 0 -60px;
  z-index: 1;
  border-radius: 40px;
  background-color: #8d8d8d;
  inline-size: 170px;
  block-size: 140px;
}

.tail {
  position: absolute;
  inset: 50px 0 0 150px;
  border-inline-start: 350px solid #a6deb3;
  border-block-start: 10px solid transparent;
  border-block-end: 80px solid transparent;
  transform-origin: left center;
  block-size: 10px;
}

.under {
  position: absolute;
  inset: -10px 0 0 130px;
  background-color: #3d3d3e;
  inline-size: 40px;
  block-size: 20px;
}

.propeller {
  position: absolute;
  inset: -320px 0 0 -150px;
  z-index: 2;
  border-radius: 50%;
  opacity: 0.2;
  overflow: hidden;
  background-color: #939bab;
  transform: rotateX(86deg);
  inline-size: 600px;
  block-size: 600px;
}

.hightlight {
  position: absolute;
  border-radius: 50%;
  animation: rotate 0.8s linear infinite;
  inline-size: 100%;
  block-size: 100%;
}

.hightlight div {
  position: absolute;
  inset: 50% 0 0 50%;
  margin-inline-start: -350px;
  margin-block-start: -30px;
  background-color: #fff;
  inline-size: 700px;
  block-size: 60px;
}

.hightlight div:nth-child(1) {
  transform: rotate(0deg);
}

.hightlight div:nth-child(2) {
  transform: rotate(90deg);
}

.propeller-back {
  position: absolute;
  inset: -75px 0 0 -75px;
  z-index: 2;
  border-radius: 50%;
  opacity: 0.2;
  overflow: hidden;
  background-color: #939bab;
  inline-size: 140px;
  block-size: 140px;
}

.hightlight-back div {
  position: absolute;
  inset: 50% 0 0 -10px;
  background-color: #fff;
  inline-size: 160px;
  block-size: 10px;
}

.hightlight-back div:nth-child(1) {
  transform: rotate(40deg);
}

.hightlight-back div:nth-child(2) {
  transform: rotate(-40deg);
}

@media (width <= 786px) {
  .helicopter {
    transform: translate3d(-100px, 0, 0);
  }
}
